

.container .portfolio__container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 2.5rem 3.25rem 3rem;
}


.details {
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn-anchor {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
}

.swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets {
    background: var(--color-primary) !important; 
}


/*--------------------------- Media queries (ecran moyen et petit)---------------------------*/

@media screen and (max-width: 600px) {
    .details{
        margin-top: 5rem;
        margin-bottom: 0rem; 
    }
    .btn-small {
        font-size: 12px;
    }
}